./release/CMakeFiles  
./release/cmake_install.cmake
./release/CMakeCache.txt 
./release/Makefile
./release/application
./helen
./lfpw
./afw
./ibugpw
./afw
./ibug
./release
build/*
tags
.DS_Store
example/helen_trained_model/*
G*
tags
.DS_Store
*.pyc
*.py
.clang_complete
